# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# MSVC files
.suo
*.t?log
GeneratedFiles/
Debug/
/Qtfringehead/Qtfringehead/Release/
*.VC.*db

# linux env setup
/Qtfringehead/Qtfringehead/test
/Qtfringehead/Qtfringehead/sourcegit
/MarchingCubes/MarchingCubes/test
/MarchingCubes/MarchingCubes/sourcegit
mm
qq
cc
