# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# MSVC files
*.vcxproj*
*.t?log
Debug/
Release/
Win32/
*.VC.VC.opendb